{% extends "::layout/base_statistics.html.twig" %}


{% block title %} Test {% endblock %}
{% block stylesheets %}
<!DOCTYPE html>
<html>
<head>




</head>
{% endblock %}


{% block body %}
<body>


{{ resultItineraire['sommeLastMonth'] }}
{{dump(resultItineraire)}}

</body>
</html>
{% endblock %}
