.card-edit-societe input, .card-edit-societe select, .card-edit-societe textarea{
	background-color: rgb(242 242 242 / 70%); 
	padding-left: 5px!important;
    font-size: 0.83rem;
}
.card {
    background-color: #f3f3f35e!important;
}
.card .card-body {
    padding-bottom: 0px!important;
    padding-top: 12px!important;
}
h4 {
    margin-bottom: -5px;
}
.add_new_row{
	cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #63bddb;
    margin-bottom: 15px;
    margin-top: -15px;
}
.change-box-group{
	display: flex;
}

.change-box-group .checkbox, .tts_prestation .checkbox{
	margin-top: 12px!important;
    margin-left: 10px!important;
    display: none;
}

.span_ll_1{
	color: red;
}

.block-info p{
    font-size: 13px;
    /*margin-bottom: 5px;*/
}

.block-info h4{
    font-weight: 600;
}

.block-info-hr{
    margin: 5px 0;
}

.fa-times-circle{
    cursor: pointer;
}

.box_validations{
    display: flex;
    margin-bottom: -10px;
    margin-top: -10px;

}

.box_validations p{
    width: 100%;
    margin-bottom: 0px;
}

.add_new_dirigeant{
    margin-top: 0px!important;
}

.tts_dirigeant h5, .tts_prestation h5{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.appended_dir{
    margin-top: 25px;
}

.saveDirigeant, .savePrestation{
    color: white;
}

.select2-container--bootstrap-5 .select2-selection--single {
    padding: 0.375rem .75rem .375rem 0.50rem!important;
    background-position: right 0.75rem center!important;
    font-size: 0.83rem!important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: 0.73rem!important;
}

.validation_span{
    color: red;
    display: none;
}

.label_validation{
    color: white;
    font-size: 12px;
    float: right;
    background: red;
    padding: 0px 3px;
    margin-top: 4px;
    display: none;
}

.margin-hr{
    margin-bottom: 24px;
    margin-top: 10px;
}

.image-clignote{
   animation-duration: .8s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}

@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

.tts_prestation .fa-minus-circle{
    cursor: pointer;
    color: red;
    margin-top: 8px;
}

.tts_dirigeant .fa-minus-circle{
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

.zone-prestation{
    border: 1px solid #fbfbfb;
}


.tts_prestation .select2-container--bootstrap-5 {
    width: 20rem!important;
}

td{
   font-size: 0.83rem;
}
.table td, .table th {
    padding: 0.5rem 0.4rem;
}

td p{
    margin-top: 8px;
    font-size: 0.85rem;
    color: black;
}



