<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-contact | Rubriques </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('Logo-econtact-2.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/lien.css') }}" />
    <style>
        .image{
            padding: 50px;
        }
    </style>
</head>

<body>


<section  id="fond-4">


    <div align="center" class="container">

        <div class="row">
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div align="center">

                    <img src="{{ asset('img/lien/profession1.jpg') }}" alt="image" class="responsive">
                </div>



                <div  align=center>
                    <img class="image responsive" src="{{ asset('img/lien/profession2.png') }}" alt="image" >
                </div>
            </div>
        </div>

    </div>

</section>



</body>
</html>
