<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-contact | Vignette Classique</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('Logo-econtact-2.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/video.css') }}" />
</head>

<body>


<section  id="fond-4">


    <div align="center" class="container">

        <div class="row">
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div align="center">
                    <img src="{{ asset('img/lien/vignette_classique_g.jpg') }}" alt="image" class="responsive">
                </div>

                <form class="form-inline">
                    <div class="form-group ">
                        <button type="button" class="btn show-product" data-toggle="collapse" data-target="#demo-10">
                            Visualiser un exemple &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </button>
                        <div id="demo-10" class="collapse">
                            <img src="{{ asset('img/lien/vignette_classique.jpg') }}" alt="image" class="responsive" style="margin:20px;">
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</section>



</body>
</html>
