{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
    <h1>Ville creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('adminVille') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
